* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Geist", sans-serif;
  color: #ffffff;
  background: #111111;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  border-bottom: 1px solid #333333;
  background-color: #0a0603;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #ff5a1f;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav a {
  position: relative;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

nav a:not(.btn-contacter)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff5a1f;
  transition: width 0.3s ease;
}

nav a:not(.btn-contacter):hover::after {
  width: 100%;
}

.btn-contacter {
  background-color: #ff5a1f;
  border-radius: 24px;
  border: 1px solid #333333;
  padding: 8px 24px;
  font-weight: bold;
}

.btn-contacter:hover {
  transform: scale(1.1);
}

/* HERO */

.hero {
  padding: 0;
}

section {
  border-bottom: 1px solid #333333;
  padding: 128px 80px;
}

.container-hero {
  display: flex;
  align-items: center;
  gap: 200px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 128px 64px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-right {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  max-width: 600px;
}

h1 .top {
  font-size: 60px;
}

h1 .bottom {
  font-size: 64px;
}

.hot {
  color: #ff5a1f;
}

.hero-text {
  font-size: 18px;
  max-width: 500px;
  color: #a1a1aa;
}

.container-socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-social {
  border: 1px solid #ff5a1f;
  border-radius: 50%;
  padding: 10px;
}

.btn-social a {
  color: #ffffff;
}

.btn-contact {
  width: fit-content;
  border: 1px solid #333333;
  padding: 12px 32px;
  border-radius: 24px;
}

.btn-contact a {
  color: #ffffff;
  text-decoration: none;
}

.terminal {
  background: #0f0a06;
  border: 1px solid #ff6b2b33;
  border-radius: 8px;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  font-size: 11px;
  width: 100%;
  height: 100%;
}

.head-term {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #0a0603;
  border-bottom: 1px solid #ff6b2b22;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot-r {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff5f57;
}
.dot-g {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #febc2e;
}
.dot-b {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #28c840;
}

.pwd {
  font-size: 10px;
  color: #ff6b2b55;
  margin: 0 auto;
  letter-spacing: 0.1em;
}

.whoami,
.bash,
.cat,
.cmd-wait {
  padding: 0 14px;
  line-height: 1.8;
}

.whoami {
  padding-top: 14px;
}
.cmd-wait {
  padding-bottom: 14px;
}

.hot {
  color: #ff6b2b;
}

.cmd {
  color: #ffd4b0;
}

.cmd-wait .cmd::before {
  content: "";
  width: 8px;
  height: 10px;
  background-color: #cc5a1a;
  animation: blink 1s step-end infinite;
}

.cmd-wait .cmd {
  display: flex;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cmd-wait .hot {
  display: flex;
  align-items: center;
  gap: 6px;
}

.req-status {
  color: #ff8c42;
  font-weight: 700;
}

.key {
  color: #cc5a1a;
}

.whoami div:last-child,
.bash div:not(.hot),
.cat ul {
  color: #ffe0c8;
}

.cat ul {
  list-style: none;
  padding: 0;
}

.cat li {
  color: #ffe0c8;
}
.cat .key {
  color: #cc5a1a;
}

.nmap,
.john {
  padding: 0 18px;
  line-height: 1.8;
}

.nmap div,
.john div {
  color: #ffe0c8;
}

.nmap .hot,
.john .hot {
  color: #ff6b2b;
}

.nmap .req-status,
.john .req-status {
  color: #ff8c42;
  font-weight: 700;
}

/* EXPERTISE */

h2 {
  font-size: 64px;
  text-align: center;
}

.divider::before {
  content: "";
  width: 96px;
  height: 4px;
  background-color: #ff6b2b;
  border-radius: 10%;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.expertise {
  position: relative;
  background: rgba(87, 19, 0, 0.03);
  backdrop-filter: blur(4px);
}

.sec-desc {
  color: #a1a1aa;
  text-align: center;
  margin: 0 auto;
  margin-top: 26px;
  max-width: 41%;
}

.expertise-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 80px;
}

.card-expertise {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid #333333;
  border-radius: 24px;
  background-color: #1e1e1e;
  padding: 27px;
}

.card-expertise .logo {
  font-size: 32px;
  color: #ff5a1f;
  background-color: #222222;
  border: 1px solid #333333;
  border-radius: 16px;
  width: fit-content;
  padding: 10px 7px;
}

.card-expertise h3 {
  font-size: 32px;
  font-weight: bold;
  text-wrap: nowrap;
}

.card-expertise p {
  color: #a1a1aa;
  font-size: 16px;
}

.card-expertise ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.card-expertise li::before {
  content: "•";
  color: #ff5a1f;
  font-size: 30px;
}

.card-expertise li {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* COMPETENCES */
.skills {
  padding: 128px 208px;
}
.skill-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  margin-top: 64px;
}

.card {
  border: 1px solid #333333;
  border-radius: 24px;
  background-color: #1e1e1e;
  padding: 40px;
}

.head i {
  color: #ff5a1f;
  font-size: 32px;
}

h3 {
  color: white;
  font-size: 32px;
}
.card .head {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 32px;
}

.skill-bar {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skill-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #111111;
  border-radius: 100px;
  margin-bottom: 23px;
}

.bar-fill {
  height: 100%;
  background-color: #ff5a1f;
}

.skills-cyber {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 300px;
  margin-bottom: 32px;
}

.badge {
  border: 1px solid #333333;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  text-align: center;
}

.certifications {
  border: 1px solid #ff5b1f52;
  border-radius: 24px;
  background-color: #ff5b1f08;
  padding: 16px;
}

/* PROJECTS */

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 48px;
}

.project-cards .card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 385px;
  padding: 15px;
  border: 1px solid #fb7849;
}

.project-cards .card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.project-cards .proj-img {
  width: 100%;
  height: 200px;
}

.proj-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
}

.project-cards .card h3 {
  font-size: 24px;
}

.project-cards .card .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.proj-desc {
  font-size: 14px;
  color: #a1a1aa;
  max-width: 250px;
}

.badges {
  display: flex;
  gap: 8px;
  text-wrap: nowrap;
}

/* DEFI */

.defi {
  background: rgba(87, 19, 0, 0.063);
  backdrop-filter: blur(4px);
  padding: 96px 200px;
}

.defi h2 {
  max-width: 1024px;
  margin: 0 auto;
}

.defi .sec-desc {
  max-width: 58%;
}

.defi-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 48px;
}

.defi-cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.defi-cards .card span {
  border: 1px solid #ff5a1f;
  border-radius: 50%;
  width: fit-content;
  padding: 8px;
  background-color: #ff40001f;
  font-size: 24px;
  font-weight: bold;
}

.defi-cards .card p {
  color: #a1a1aa;
  max-width: 400px;
}

.defi-cards .card ul {
  list-style: none;
  color: #a1a1aa;
  margin-bottom: 25px;
}

.defi-cards .card li::before {
  content: "•";
  color: #ff5a1f;
  font-size: 30px;
}

.defi-cards .card li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.defi-cards .card em {
  font-size: 12px;
  background-color: #222222;
  padding: 4px 12px;
  position: absolute;
  right: 30px;
  border: 1px solid #333333;
  border-radius: 12px;
}

.defi .boutons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}

.defi .boutons .btn {
  font-weight: bold;
  border: 1px solid #333333;
  border-radius: 24px;
  padding: 19px 32px;
  color: white;
  text-decoration: none;
}

.defi .boutons .btn.cv {
  background-color: #ff5a1f;
}

/* CONTACT */

.contact {
  padding: 128px 272px;
}

.contact .sec-desc {
  max-width: 80%;
}

.container-form {
  margin-top: 64px;
  border: 1px solid #262626;
  background-color: #1e1e1e;
  border-radius: 24px;
  padding: 56px;
}

.container-form .rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}

.container-form .row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.container-form .row input {
  border: 1px solid #333333;
  border-radius: 24px;
  background-color: #111111;
  color: white;
  padding: 12px 16px;
  width: 100%;
}

.container-form .row label {
  color: #a1a1aa;
}

.container-form textarea {
  border: 1px solid #333333;
  border-radius: 24px;
  background-color: #111111;
  color: white;
  padding: 12px 16px;
  height: 150px;
}

.container-form button {
  margin-top: 40px;
  width: 100%;
  background-color: #ff5a1f;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 24px;
  border: 1px solid;
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

/* TABLET */

@media (max-width: 1024px) {
  .expertise-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills,
  .defi,
  .contact {
    padding: 128px 80px;
  }

  .project-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

